

<footer class="flex items-center h-20 mt-10 rounded-lg dark:bg-gray-800" style="background-color: #AA8B56;color:white">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm  sm:text-center dark:text-gray-400">© 2023 <a href="https://www.linkedin.com/in/wito-de-schrijver-a52872120/" class="hover:underline">Wito De Schrijver</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium  dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/about" class="hover:underline mx-4 md:me-6">About</a>
        </li>
        <li>
            <a href="mailto:wito.ds@gmail.com" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
