
<div
    class="flex flex-col items-center justify-center"
    style=" background-image: url(/images/background.jpg); background-repeat: no-repeat; background-size:cover; min-height: 40vh; background-position:0 -20rem  ;"
  >

    <h2
      class="glass-effect text-5xl font-bold uppercase text-gray-100 "
      style="letter-spacing:0.9rem;"
    >{{title}}</h2>


  </div>