{{! header }}
<nav
  class="md:flex md:justify-between md:items-center w-full py-4 bg-gray-700 px-10"
>
  <div class="">
    <a href="/">
      <img class="h-10" src="/images/placeholder.png" alt="Logo" />
    </a>
  </div>

  <a href="/" class="flex-grow text-gray-100 ml-10">
    <h1 class="text-2xl uppercase flex-grow">Family Recipes</h1>
  </a>

  <div class="flex items-center">

    <a
      href="/"
      class="border-b-2 border-transparent text-medium text-gray-100 uppercase mx-7 pt-1"
    >Overview</a>
    <a
      href="/recipe/add"
      class="border-b-2 border-transparent text-medium text-gray-100 uppercase mx-7 pt-1"
    >Add Recipe</a>
  </div>
</nav>

{{! main }}
<main>
  {{! Page title section }}
  <div
    class="flex flex-col items-center justify-around"
    style=" background-image: url(/images/background.jpg); background-repeat: no-repeat; background-size:cover; min-height: 40vh; background-position:right top ;"
  >

    <h1
      class="text-5xl font-bold uppercase text-gray-100 pb-3 pt-20"
      style="letter-spacing:0.9rem;"
    >Overview</h1>

    {{! search bar }}
    <form method="GET" action="#" class="w-2/5">
      <input
        type="text"
        name="search"
        placeholder="Search..."
        value=""
        class="block w-full mb-20 py-2 pl-3 text-medium text-gray-700 border border-gray-100 rounded-2xl bg-gray-100 focus:ring-blue-500 focus:border-gray-700"
      />
    </form>

  </div>

  {{! recipe cards }}
  <div class="grid sm:grid-cols-1 md:grid-cols-6 gap-4 w-4/5 mx-auto mt-10">

    <a
      href="/recipe/:id"
      class="col-span-3 m-5 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
    >
      <img
        class="object-cover w-full h-96 md:h-auto md:w-48 md:rounded-none"
        src="/images/placeholder.png"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal flex-grow">
        {{! badge with category }}
        <div class="flex justify-end -mt-7">
          <span
            class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
          >Default</span>
        </div>

        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >Title</h5>

        <div class="flex mb-3">
          <div  class="flex items-center">
            <img src="images/icon_user.png" alt="" width="15rem" class="mr-2"/>
            <p
              class=" mr-5 font-normal text-gray-500 dark:text-gray-400"
            >Author</p>
          </div>
          <div  class="flex items-center">
            <img src="images/icon_clock.png" alt=""  width="15rem" class="mr-2"/>
            <p
              class="mr-5 font-normal text-gray-500 dark:text-gray-400"
            >Time</p>
          </div>
          <div  class="flex items-center">
            <img src="images/icon_speedometer.png" alt=""  width="15rem" class="mr-2"/>
            <p
              class=" mr-5 font-normal text-gray-500 dark:text-gray-400"
            >Difficulty</p>
          </div>
         
        </div>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">summary</p>
      </div>
    </a>

    

  </div>
</main>

{{! scripts }}
<script>
  //underline the links when hovered over const links =
  document.querySelectorAll('a'); links.forEach(link => {
  link.addEventListener('mouseover', () => {
  link.classList.replace('border-transparent', 'border-gray-100'); });
  link.addEventListener('mouseout', () => {
  link.classList.replace('border-gray-100', 'border-transparent'); }); });

</script>