body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-default{
  background-color:#4E6C50
}

.btn-default:hover{
  background-color:#395144
}


