body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-default{
  background-color:#4E6C50
}

.btn-default:hover{
  background-color:#395144
}

.link-underlined{
  border-bottom: 1px solid #F0EBCE;

}

.glass-effect {
  color: #F0EBCE;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
}
